.socialLeftBox a {
	padding: 5px 15px;
}
.cloneBox {
	padding: 0 0;
}

.allItems .vendors {
	height: auto;
}

.iconBox {
	margin-left: 0;
}

.closeBox {
	float: right;
	visibility: hidden;
	font: bold 1.2em Helvetica;
	padding-right: 5px;
	padding-top: 25px;
}

.closeBox a {
	color: #CC3333;
}
