{% import "FrontendBundle:macros:tableWax.twig.html" as tableWax %}
{% set tab = 'support' %}
{% extends "::layout.twig.html" %}



{% block metatags %}
<title>View Profile - {{ company_name_short }}</title>
<link rel="stylesheet" type="text/css" href="/bundles/social/css/social.css">

<script type="text/javascript" src="/ajax.js"></script>
<script type="text/javascript">

function addPhoto()
{
	document.getElementById("addPhoto").style.display = "none";
	document.getElementById("photoBox").style.display = "block";
}

</script>
{% endblock %}





{% block tabs %}
{% set leftNavTab = 'Activities' %}
{% include 'SocialBundle:nav:Profile.twig.html' %}
{% endblock %}

{% block header %}
<div class="line topHeader">
	<div class="unit size1of5">
		<h1>Profile</h1>
	</div>
	<div class="unit size4of5">
		Find a product or service online that you want to share with your Ajent community? Post it here and let everyone know!
	</div>
</div>
{% endblock %}





{% block content %}

<div class="otherGreen fullBox">

	<form method="POST" enctype="multipart/form-data">
	{% render 'FormsBundle:PrintCid:index' with { 'form_name': 'wall_post_form' } %}

		<h1>Want to Share Something?</h1>

			<table width="100%" cellpadding="10">
			<tr valign="top">
				<td width="110">
					<span style="color:#bfbfbf; font-style: italic;">{{ profile['name'] }}:</span><br>
						<img src="
						{% render 'SocialBundle:ProfilePicture:index' with {
							'user_id': profile['user_id']
							}
						%}" width="101" height="102">
				</td>
				<td>&nbsp;<br>{{ form_widget(form.message, { 'attr': {'class': 'inputbox', 'style': 'width:100%;height:105px'} }) }}</td>
				<td width="1">&nbsp;<br><select class="inputbox" name="category"><option value="">choose category</option>
					{% for category in categories %}
					<option value="{{ category['_id'] }}">{{ category.Name }}</option>
					{% endfor %}
					</select><br>&nbsp;<br>
				
					{{ form_widget(form.url, { 'attr': {'class': 'inputbox', 'style': 'width:100%', 'value': 'http://'} }) }}<br>&nbsp;<br>
					
					<button onclick="addPhoto()" id="addPhoto" class="button" type="button"><img src="/bundles/social/images/icons/favorite.png"> Add Photo</button>
					<div id="photoBox" style="display:none;"><input type="file" name="post_pic" style="width: 100%" class="textfield"></div>
				</td>
				<td width="100" align="right">&nbsp;<br>
					<input type="submit" value="Share" class="awesome shareButton"></td></tr>
			</tr>
			</table>

	{{ form_rest(form) }}
	</form>

	{#% if allowFollow %}
	<form method="POST">
		<div class="buttons">
              <input type="submit" value="Follow" class="awesome">
		</div>
	</form>
	{% endif %#}

</div>

<div class="line" id="socialPosts">

{% render 'SearchBundle:Ajax:printList' with {
	'adapterName': 'RecentPostsSearch', 'spec': spec
	}
%}

</div>

{% endblock %}
