{% extends "::layout.twig.html" %}



{% block metatags %}
<title>Help - Ajent</title>
{% endblock metatags %}

{% set disableRightBar = true %}

{% block content %}

<h1>Help</h1>
<br>
<h2><img src="/bundles/ajent/images/support/newticket_mds.gif" border="0" align="absmiddle"> Send us an Email!</h2>
<p>Send us an email!: <a href="mailto:info&#64;teamajent.com">info&#64;teamajent.com</a></p>

<br>
<h2><img src="/bundles/ajent/images/support/phoneinfo_mds.gif" border="0" align="absmiddle"> Call us!</h2>
<p>+1 (650) 207-3924</p>

{% endblock content %}
