{% extends "::layout.twig.html" %}



{% block metatags %}
<title>What is Ajent - Ajent</title>
{% endblock metatags %}


{% block content %}
<div class="how-it-works">

<h1 style="background:none">How It Works</h1>

<div class="line">

	<ol class="steps2">
		<li>
			<div class="img">
				<img src="/bundles/ajent/images/how-it-works/step-one.jpg">
			</div>
			<img src="/bundles/ajent/images/how-it-works/one.jpg" align="left" class="num">
			Sign up and receive your own simple, easy-to-remember <strong class="ajent">Ajent</strong> email address.</li>
		<li>
			<div class="img">
				<img src="/bundles/ajent/images/how-it-works/step-two.jpg">
			</div>
			<img src="/bundles/ajent/images/how-it-works/two.jpg" align="left" class="num">
			Move your existing email subscriptions to your <strong class="ajent">Ajent</strong> account.</li>
		<li>
			<div class="img">
				<img src="/bundles/ajent/images/how-it-works/step-three.jpg">
			</div>
			<img src="/bundles/ajent/images/how-it-works/three.jpg" align="left" class="num">
			Visit <strong class="ajent">Ajent</strong> to easily manage your consumer related email traffic.</li>
		<li>
			<div class="img">
				<img src="/bundles/ajent/images/how-it-works/step-four.jpg">
			</div>
			<img src="/bundles/ajent/images/how-it-works/four.jpg" align="left" class="num">
			Share your favorite things with your friends!</li>
	</ol>

</div>

<h1>What You Can Do With Ajent</h1>

<div class="line">
	<div class="unit size1of3">
		<h2>Manage Your Subscriptions:</h2>
		<ul>
			<li><strong>UNSUBSCRIBE</strong> from things you've been getting that you don't want. When you sign up for <strong class="ajent">Ajent</strong>, you can immediately do this at the click of a button. </li>
			<li><strong>HIDE</strong> emails you might want to get at some point but rarely need to see. <strong class="ajent">Ajent</strong> allows you to turn email subscriptions &quot;on&quot; and &quot;off&quot; at your convenience. No need to unsubscribe and re-subscribe, again, it is just a click of a button!</li>
			<li><strong>BUNDLE</strong> emails that you want to review all at once. For instance, you can go through all of your Daily Candy emails once a week – instead of shuffling through them every day.</li>
		</ul>
	</div>
	<div class="unit size1of3">
		<h2>Keep Track of Particular Emails You Need:</h2>
		<ul>
			<li><strong>SET</strong> expiration dates for daily deals, set event dates for travel emails, and use <strong class="ajent">Ajent</strong> alerts to notify you when dates come up.</li>
			<li><strong>SAVE</strong> important receipts, itineraries and other crucial emails in one secure place, so you don't have to weed through your personal inbox to find them.</li>
			<li><strong>CREATE</strong> folders to keep track of your personal interests and different types of email subscriptions.</li>
		</ul>
	</div>
	<div class="unit size1of3">
		<h2>Share and Learn:</h2>
		<ul>
			<li><strong>FOLLOW</strong> what your friends and other <strong class="ajent">Ajent</strong> users are finding, wanting and buying. Have a friend who always has the best shoes? Want to know where wine lovers get their inside information? Find them on <strong class="ajent">Ajent</strong>. </li>
			<li><strong>SHARE</strong> with your friends when you come across something fantastic. It is easy to post to your friends and the <strong class="ajent">Ajent</strong> community &mdash; right from your inbox or from your share page.</li>
		</ul>
	</div>
</div>


</div>
{% endblock content %}
