{% extends "::layout.twig.html" %}

{% block content %}

{% include ":messageBox:errorBox.twig.html" %}
{% include ":messageBox:happyBox.twig.html" %}

<h2>Reset Password</h2>

<form method="POST">
<input type="hidden" name="forgot" value="1">

<table>
	<tr>
		<td>Username:</td>
		<td><input type="text" name="username" class="inputbox"></td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><input type="text" name="email" class="inputbox"></td>
	</tr>
	<tr>
		<td>New Password:</td>
		<td><input type="password" name="new_password" class="inputbox"></td>
	</tr>
	<tr>
		<td>Confirm New Password:</td>
		<td><input type="password" name="new_password_confirm" class="inputbox"></td>
	</tr>

	<tr><td><input type="submit" value="Retrieve Password"></td></tr>
</table>
</form>

{% endblock content %}
