<div style="padding-right: 40px">
	<p><strong class="ajent">Ajent</strong> simplifies your life by keeping the clutter out of your inbox.</p>
	<p><strong class="ajent">Ajent</strong> manages your email subscriptions on your behalf.</p>
	<p><strong class="ajent">Ajent</strong> alerts you when there's something you might be interested in.</p>
	<p><strong class="ajent">Ajent</strong> reduces the information overload.</p>
	<p><strong class="ajent">Ajent</strong> tracks your interests so you can share with friends.</p>
</div>