{% extends "::layout.twig.html" %}



{% block metatags %}
<title>Login - Ajent</title>
{% endblock metatags %}


{% block content %}



<div class="box">

<h1 class="green"><a href="#">Login</a></h1>

<div style="padding: 5px;">

<form method="POST" action="/login">
<input type="hidden" name="sublogin" value="1">

<p>
<table cellpadding="5">
<tr><td>Username:</td><td><input type="text" id="login" value="" name="user" class="inputbox"></td></tr>
<tr><td>Password:</td><td><input type="password" id="password" value="" name="pass" class="inputbox password"></td></tr>
</table>
    <input type="submit" name="" value="Login" id="logme" class="awesome green">
</p>
</form>

</div>
</div>
{% endblock content %}
